

.tweets {
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #696969;
  margin: 2em;

  .icons {
    transition: opacity 0.5s;
    opacity: 0;
    float: right;
  }

  &:hover .icons {
    opacity: 1.0;
  }

header {
  //background-color: #D3D3D3;
  background-color: $primary-color;
  color: #F0F8FF;
  text-align: left;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
  margin-left: 2px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .author {
      font-weight:400;
      font-size: 20px;
      margin-left: 10px;
    }

    .username {
      float: right;
      vertical-align: bottom;
      font-weight: normal;
      font-size: 14px;
    }

    .header-left {
      display: flex;
      align-items: center;
    }
  }

  section {
    padding: 15px;
  }

  footer {
    line-height: 15px;
    border-top: 0.5px solid #D3D3D3;
    padding: 10px;
  }
}

.date {
  font-size: 14px;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

.spinner {
  margin: 50px;
}
